<ion-header>
  <ion-navbar color="primary">
      <button ion-button menuToggle icon-only>
          <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Contacts</ion-title>
  </ion-navbar>
</ion-header>

<!--START:CONTENT-->
<ion-content padding>
  <ion-list> <!-- *ngIf="!isEmpty(users)"-->
    <button ion-item 
        *ngFor="let user of users; let i = index" 
        (click)="showUser(user)">
        
      <ion-thumbnail item-left>
        <img src="{{ user?.fixURL }}" alt="User photo">
      </ion-thumbnail>
      <!--<h3>{{ user?.fixURL }}</h3>-->
      <h2>{{user?.fullname}}</h2>
      <p>{{user?.description}}</p>
      <p>{{user?.email}}</p>
    </button>
    
  </ion-list>
</ion-content>

<div class="fixed-outsite">
  <button ion-button 
          block 
          color="primary"
          (click)="toogleAddUser()">Add Contact</button>
</div>